.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    background-image: linear-gradient(to top right, black 20%, #0F0F0F 40%, #0F0F0F00 90% );
    background-color: #d4a85dad;
}

.raindrop {
    position: absolute;
    top: -10px;
    background-color: rgba(191, 219, 254, 0.2);
    border-radius: 50%;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}